.contact-info {
    .jumbotron {
        background-color: rgba(234, 234, 234, 0.7);
        border-radius: 0% !important;
        margin-top: 3%;
        width: 100%;
        padding-top: 1%;
        text-align: center;
    }
}

.profile-image {
    width: 80%;
}

.margin-class {
    margin-top: 3%;
}

.description-field {
    min-height: 70px;
}