

.containers {
    height: 320px;
    overflow: hidden;
    opacity: 0.5;

  }
  
.item {
    position: absolute;
    top: 0;
    left: 0;
}

.item img {
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
}
.containers:hover {
    opacity: 1;

    .item img {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        }
}

.gallery-container {
    margin-top: 4%;
}