@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";
body {
    font-family: 'Muli', sans-serif !important;
    min-height: 1000px;
}

.navbar-inverse {
    border-radius: 0% !important;
}

.navbar {
    border: none !important;
}

.image-gallery-image {
    height: 96%;
}

.parent-component {
    .zero-padding {
        padding: 0;
    }

    .aside-text {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 2%;
        padding-left: 14%;
        padding-right: 14%;
        color: black;

        p {
            text-align: justify;
        }
    }
}

.display-class-home {
    display: block;
}

.display-class-about {
    display: block;
}

@keyframes no-display {
    from {
        display: block;
    }
    to {
        display: none;
    }
}

.display-none {
    display: none;
    animation: no-display 10s linear;
}