@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

body {
    background-color: #222222 !important;
    font-family: 'Muli', sans-serif !important;

}

.parent-component {
    text-align: center;
    h1 {
        color: gray;
    }
    .navbar {
        border-radius: 0;
        border: none;
        margin-bottom: 0;
        background-color: #F4F4F4 !important;
    }
    .coming-soon {
        padding: 0 !important;
    }
}